
.App {
  min-height: 100vh; 
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
}


.freecodecamp-logo-container {
  width: 100%;
  height: auto; 
  margin: 20px 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.freecodecamp-logo {
  max-height: 120px; 
  max-width: 100%; 
  object-fit: contain;
}


.container-calculator {
  width: 90%; 
  max-width: 400px; 
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  flex-direction: column; 
  align-items: center;
}


.line {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 100%;
  margin: 10px 0;
  gap: 10px;
}

